# === IntelliJ IDEA ===
.idea/
*.iml
out/
src/main/resources/config.yml

# === Gradle ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
/gradlew.bat
/gradlew

# === OS spezifisch ===
.DS_Store
Thumbs.db

# === Logs & Temp ===
*.log
*.tmp

# === Java allgemein ===
*.class
*.jar
*.war
*.ear

# === Test-Reports ===
/test-output/
/reports/
